on:
    push:
        branches:
            - '*'
    pull_request:
        branches:
            - '*'
jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 3
        steps:
            -   name: Checkout
                uses: actions/checkout@v2
            -   name: Build
                run: dotnet build --configuration Release
            -   name: Test
                run: dotnet test --configuration Release --no-build
